<div class = "food-info" data-title="{{title}}" data-vicinity="{{vicinity}}" data-openingHours-text="{{openingHours.text}}"onclick="foodBtn(event)">
    <img class="food-icon" src="{{icon}}" alt="food-icon"></img>
    <ul class = "food-misc-info">
        <li class = "title"><b>Name:</b> {{title}}</li>
        <li class = "address"><b>Address:</b> {{vicinity}}</li>
        <li class = "hours"><b>Hours:</b> {{openingHours.text}}</li>
    </ul>
</div>