<div class = "hotel-info" data-title="{{title}}" data-category-title="{{category.title}}" data-vicinity="{{vicinity}}"onclick="activityBtn(event)">
    <img class="hotel-icon" src="{{icon}}" alt="hotel-icon"></img>
    <ul class = "hotel-misc-info">
        <li class = "title"><b>Name:</b> {{title}}</li>
        <li class = "type"><b>Type:</b> {{category.title}}</li>
        <li class = "address"><b>Address:</b> {{vicinity}}</li>
    </ul>
</div>